In [1]:
import pandas as pd

In [12]:
df = pd.read_csv("artist_concert_data.csv")
clean_df = df.copy()
df.head()

,Date,Concert,Venue,Location,Unnamed: 4,Artist
0,26-Nov-22,Faithless,Concorde 2,"Brighton, England, United Kingdom",NaN,Faithless
1,24-Sep-22,Faithless / Crazy P / Don Letts / Dat Brass,Dreamland Margate,"Margate, United Kingdom",NaN,Faithless
2,15-Sep-22,faithless,Sportpaleis Antwerpen,"Antwerp, Flanders, Belgium",NaN,Faithless
3,21-Aug-22,"Camp Bestival ""Camp Bestival"" / Rag N Bone Man...",Weston Park,"Staffordshire, UK",NaN,Faithless
4,29-Jul-22,"Camp Bestival ""Camp Bestival"" / Rag N Bone Man...",Lulworth Castle,"Dorset, United Kingdom",NaN,Faithless

In [58]:
# Remove bad dates from 'Date' column - Show Duplicate, Upcoming, Rescheduled, Cancelled
mask = clean_df["Date"].str.contains("(Show Duplicate|Upcoming|Rescheduled|Cancelled|No concerts found)")
clean_df = clean_df[~mask]

clean_df.head()

/var/folders/d3/k0v5vst508sc7glyv2sbz9880000gn/T/ipykernel_16448/533788223.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  mask = clean_df["Date"].str.contains("(Show Duplicate|Upcoming|Rescheduled|Cancelled|No concerts found)")

,Date,Concert,Venue,Location,Artist
0,26-Nov-22,Faithless,Concorde 2,"Brighton, England, United Kingdom",Faithless
1,24-Sep-22,Faithless / Crazy P / Don Letts / Dat Brass,Dreamland Margate,"Margate, United Kingdom",Faithless
2,15-Sep-22,faithless,Sportpaleis Antwerpen,"Antwerp, Flanders, Belgium",Faithless
3,21-Aug-22,"Camp Bestival ""Camp Bestival"" / Rag N Bone Man...",Weston Park,"Staffordshire, UK",Faithless
4,29-Jul-22,"Camp Bestival ""Camp Bestival"" / Rag N Bone Man...",Lulworth Castle,"Dorset, United Kingdom",Faithless

In [60]:
# Format dates not in the format DD-MMM-YY
test_date_regex = "^\d{1,2}-[a-zA-Z]{3}-\d{1,2}"
date_format_mask = clean_df["Date"].str.match(test_date_regex)

# Grab dates that are in range, split, select earliest date
unformatted_date_df = clean_df[~date_format_mask]["Date"]
unformatted_date_df = unformatted_date_df.str.split("–", expand=True)[0]
unformatted_date_df

# Replace based on indices
clean_df["Date"].loc[unformatted_date_df.index] = unformatted_date_df

# Format MMM DD, YYYY to DD-MM-YY
clean_df["Date"] = clean_df["Date"].astype("datetime64[ns]")
clean_df

,Date,Concert,Venue,Location,Artist
0,2022-11-26,Faithless,Concorde 2,"Brighton, England, United Kingdom",Faithless
1,2022-09-24,Faithless / Crazy P / Don Letts / Dat Brass,Dreamland Margate,"Margate, United Kingdom",Faithless
2,2022-09-15,faithless,Sportpaleis Antwerpen,"Antwerp, Flanders, Belgium",Faithless
3,2022-08-21,"Camp Bestival ""Camp Bestival"" / Rag N Bone Man...",Weston Park,"Staffordshire, UK",Faithless
4,2022-07-29,"Camp Bestival ""Camp Bestival"" / Rag N Bone Man...",Lulworth Castle,"Dorset, United Kingdom",Faithless
...,...,...,...,...,...
200733,2022-06-06,Dave Matthews Band Setlists,Daily's Place,"Jacksonville, Florida, United States",Dave Matthews Band
200734,2022-06-06,Dave Matthews Band,Blossom Music Center,"Cuyahoga Falls, OH, US",Dave Matthews Band
200735,2022-06-04,Dave Matthews Band Setlists,Credit One Stadium,NaN,Dave Matthews Band
200736,2022-06-03,Dave Matthews Band Setlists,Credit One Stadium,"Charleston, South Carolina, United States",Dave Matthews Band
200737,2022-06-03,Dave Matthews Band Setlists,Credit One Stadium,NaN,Dave Matthews Band

In [ ]:
# TODO: Fix up Location value unknowns

In [18]:
# Drop column Unnamed: 4
clean_df = clean_df.drop(["Unnamed: 4"], axis = 1)
clean_df

,Date,Concert,Venue,Location,Artist
0,26-Nov-22,Faithless,Concorde 2,"Brighton, England, United Kingdom",Faithless
1,24-Sep-22,Faithless / Crazy P / Don Letts / Dat Brass,Dreamland Margate,"Margate, United Kingdom",Faithless
2,15-Sep-22,faithless,Sportpaleis Antwerpen,"Antwerp, Flanders, Belgium",Faithless
3,21-Aug-22,"Camp Bestival ""Camp Bestival"" / Rag N Bone Man...",Weston Park,"Staffordshire, UK",Faithless
4,29-Jul-22,"Camp Bestival ""Camp Bestival"" / Rag N Bone Man...",Lulworth Castle,"Dorset, United Kingdom",Faithless
...,...,...,...,...,...
200733,"Jun 06, 2022 – Jun 07, 2022",Dave Matthews Band Setlists,Daily's Place,"Jacksonville, Florida, United States",Dave Matthews Band
200734,6-Jun-22,Dave Matthews Band,Blossom Music Center,"Cuyahoga Falls, OH, US",Dave Matthews Band
200735,4-Jun-22,Dave Matthews Band Setlists,Credit One Stadium,NaN,Dave Matthews Band
200736,3-Jun-22,Dave Matthews Band Setlists,Credit One Stadium,"Charleston, South Carolina, United States",Dave Matthews Band
200737,3-Jun-22,Dave Matthews Band Setlists,Credit One Stadium,NaN,Dave Matthews Band